In [10]:
import re
import pandas as pd

#Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [79]:
text = "'Python Exercises, PHP exercises"
def replace_chars(text):
    return re.sub(r'[ ,\.]', ':', text) #First method
    #2nd method return text.replace(" ", ":").replace(",", ":").replace(".", ":")

print("befor_text:", text)
print("After_text:", replace_chars(text))
print(text)
print(replace_chars(text))

befor_text: 'Python Exercises, PHP exercises
After_text: 'Python:Exercises::PHP:exercises
'Python Exercises, PHP exercises
'Python:Exercises::PHP:exercises

##Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [63]:
data = {'':['hello, world!', 'XXXXX test','123four, five:; six...']
}
df = pd.DataFrame(data)
df['']= df[''].str.replace(r'[^\w\s]|[\d_]|XXX+', '', regex=True)
print(df)

0    hello world
1           test
2  four five six

##Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [97]:
text = "Hello world9, this is a test string with some long words like conversation and declaration"
def find_long_words(text):
    pattern = re.compile(r'\b\w{4,}\b')
    return pattern.findall(text)
print(find_long_words(text))

['Hello', 'world9', 'this', 'test', 'string', 'with', 'some', 'long', 'words', 'like', 'conversation', 'declaration']

##Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [93]:
text = "Hello world, this is a test string with some short words like cat, dog, and sun"
def find_short_words(text):
    pattern = re.compile(r'\b\w{3,5}\b')
    return pattern.findall(text)
print(find_short_words(text))

['Hello', 'world', 'this', 'test', 'with', 'some', 'short', 'words', 'like', 'cat', 'dog', 'and', 'sun']

##Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [51]:
strings = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
def remove_parentheses(strings):
    pattern = re.compile(r'\(|\)')
    return [' '.join(s.split()) for s in [pattern.sub(' ', string) for string in strings]]
print(*remove_parentheses(strings), sep='\n')

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [ ]:
##Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [125]:
file_handle= open('Downloads/test.txt','r')
ln=file_handle.readline()
ln=re.sub(r'\s*\([^)]*\)', '', ln)
print(ln)

"example", "hr@fliprobo", "github", "Hello", "Data"

In [ ]:
##Write a regular expression in Python to split a string into uppercase letters.

In [143]:
text="ImportanceOfRegularExpressionsInPython"
data = re.sub(r'([A-Z])', r' \1', text)
print(data)

 Importance Of Regular Expressions In Python

In [ ]:
##Create a function in python to insert spaces between words starting with numbers

In [151]:
text= "RegularExpression1IsAn2ImportantTopic3InPython"
data= re.sub(r'(\d)', r' \1',text)
print(data)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [ ]:
#Create a function in python to insert spaces between words starting with capital letters or with numbers

In [167]:
text = "RegularExpression1IsAn2ImportantTopic3InPython"
data = re.sub(r'([A-Z]|\d)', r' \1', text)
print(data)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

In [ ]:
##Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [169]:
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)
df['first_five_letters'] = df['Country'].str[:6]
print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302             Burund
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

##Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [ ]:
##Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [171]:
text = "HelloWorld123"
if re.match(r'^[a-zA-Z0-9_]+$', text):
    print("Match found")
else:
    print("No match found")

Match found

In [18]:
text= "1234HelloWorld"
if re.match(r'^\d', text):
 print("start with digit")
else:
 print("not start with digit")

start with digit

In [ ]:
#Write a Python program to remove leading zeros from an IP address

In [79]:
text= "192.168.0010.0010"
rs = re.sub(r'\b0+(\d)', r'\1', text)
print(rs)

192.168.10.10

In [ ]:
#Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file

In [77]:
text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
rs = re.search(r'\b\w+\s\d+(st|nd|rd|th)\s\d{4}\b', text)
print(rs.group())

August 15th 1947

In [ ]:
#- Write a Python program to search some literals strings in a string

In [71]:
text = "The quick brown fox jumps over the lazy dog."
words = ['fox', 'dog', 'horse']
for word in words:
    if re.search(word, text):
        print(f"{word} found")
    else:
        print(f"{word} not found")

fox found
dog found
horse not found

In [ ]:
#Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [81]:
text = "The quick brown fox jumps over the lazy dog."
word = 'fox'
rs = re.search(word, text)
if rs:
    print(f"{word} found at position {rs.start()}")
else:
    print(f"{word} not found")

fox found at position 16

In [ ]:
#Write a Python program to find the substrings within a string.

In [83]:
text = "Python exercises, PHP exercises, C# exercises"
pattern = 'exercises'
rs = re.findall(pattern, text)
print(rs)

['exercises', 'exercises', 'exercises']

In [ ]:
#Write a Python program to find the occurrence and position of the substrings within a string.

In [87]:
text = "Python exercises, PHP exercises, C# exercises"
pattern = 'exercises'
rs = re.finditer(pattern, text)
for match in rs:
    print(f"Found '{pattern}' at position {match.start()}")

Found 'exercises' at position 7
Found 'exercises' at position 22
Found 'exercises' at position 36

In [ ]:
#Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [90]:
text = "2022-07-25"
rs = re.sub(r'(\d{4})-(\d{2})-(\d{2})', r'\3-\2-\1', text)
print(rs)

25-07-2022

In [ ]:
#Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [92]:
text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern = re.compile(r'\b\d+\.\d{1,2}\b')
rs = pattern.findall(text)
print(rs)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [ ]:
#Write a Python program to separate and print the numbers and their position of a given string.

In [98]:
text = "Hello123World456"
result = re.finditer(r'\d+', text)
for match in result:
    print(f"Found '{match.group()}' at position {match.start()}")

Found '123' at position 5
Found '456' at position 13

In [ ]:
#Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [100]:
def extract_max_numeric_value(s):
    pattern = r'\b\d+\b'
    num = [int(x) for x in re.findall(pattern, s)]
    return max(num)
s = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
print(extract_max_numeric_value(s))

950

In [ ]:
#Create a function in python to insert spaces between words starting with capital letters.

In [104]:
text = "RegularExpressionIsAnImportantTopicInPython"
def insert_spaces(text):
    return re.sub(r'([A-Z])', r' \1', text)
print(insert_spaces(text))

 Regular Expression Is An Important Topic In Python

In [ ]:
#Python regex to find sequences of one upper case letter followed by lower case letters

In [110]:
text = "SmallWorld"
pr = re.findall(r'[A-Z][a-z]+', text)
print(pr)

['Small', 'World']

In [ ]:
#Write a Python program to remove continuous duplicate words from Sentence using Regular Expression

In [114]:
text = "Hello hello world world"
result = re.sub(r'\b(\w+)\s+\1\b', r'\1', text)
print(result)

Hello hello world

In [ ]:
#Write a python program using RegEx to accept string ending with alphanumeric character.

In [119]:
text = "YelloWorld123"
if re.search(r'\w$', text):
    print(" ends with alphanumeric character")
else:
    print("does not end with alphanumeric character")

 ends with alphanumeric character

In [ ]:
#Write a python program using RegEx to extract the hashtags

In [121]:
text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
rs = re.findall(r'#\w+', text)
print(rs)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [ ]:
#Write a python program using RegEx to remove <U+..> like symbols

In [123]:
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
act = re.sub(r'<U\+\w+>', '', text)
print(act)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [ ]:
#Write a python program to extract dates from the text stored in the text file

In [125]:
with open('Downloads/text.txt', 'r') as file:
    text = file.read()
result = re.findall(r'\d{2}-\d{2}-\d{4}', text)
print(result)

['12-09-1992', '15-12-1999']

In [ ]:
#Create a function in python to remove all words from a string of length between 2 and 4.

In [127]:
text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
def remove_short_words(text):
    pattern = re.compile(r'\b\w{2,4}\b')
    return pattern.sub('', text)
print(remove_short_words(text))

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.